<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".IStanPdfApp"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:largeHeap="true"
        android:icon="@drawable/ic_launcher_olive"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_olive"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|uiMode"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|uiMode"
            android:screenOrientation="portrait">
        </activity>

        <activity-alias
            android:name=".LauncherOlive"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_launcher_olive"
            android:roundIcon="@drawable/ic_launcher_olive"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        
        <activity-alias
            android:enabled="false"
            android:name=".LauncherRose"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_launcher_rose"
            android:roundIcon="@drawable/ic_launcher_rose"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".LauncherTerracotta"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_launcher_terracotta"
            android:roundIcon="@drawable/ic_launcher_terracotta"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".LauncherSand"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_launcher_sand"
            android:roundIcon="@drawable/ic_launcher_sand"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".LauncherMonochrome"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_launcher_monochrome"
            android:roundIcon="@drawable/ic_launcher_monochrome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".LauncherObsidian"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_launcher_obsidian"
            android:roundIcon="@drawable/ic_launcher_obsidian"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <receiver
            android:name=".UpdateReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".libreoffice.DocxPreviewService"
            android:exported="false"
            android:process=":libreoffice" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
